{% extends 'embed/layout.twig' %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ '/assets/css/embed.css' | cdn }}">
    <meta name="theme-color" content="#404040">
    <meta itemprop="name" content="{{ "#{episode} episode" }}">
    <meta name="title" content="{{ "#{episode} episode" }}">
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <link itemprop="name" content="todonime.ru">
    </span>
    <meta property="og:title" content="{{ "#{episode} episode" }}">
    <meta property="og:image" content="{{ preview | cdn }}">
    <meta property="og:image:width" content="1820">
    <meta property="og:image:height" content="1080">
{% endblock %}
{% block content %}
    <div class="video-player__container">
        <div class="toolbar top">
            <div class="toolbar__video-name">{{ "#{episode} episode" }}</div>
            <div class="current-font-size" style="margin: 7px 10px">25</div>
            <img class="toolbar__icon" src="{{ '/assets/img/format_size-24px.svg' | cdn }}">
            <img class="toolbar__icon subtitle-font-plus" src="{{ '/assets/img/add-24px.svg' | cdn }}">
            <img class="toolbar__icon subtitle-font-munus" src="{{ '/assets/img/remove-24px.svg' | cdn }}">
        </div>
        <div class="poster overlay"
             style="background-image: url({{ preview | cdn }})"
        ></div>
        <div class="play overlay">
            <img class="play__button"
                 src="{{ '/assets/img/play_arrow-24px.svg' | cdn }}"
            >
        </div>
        <video class="video-player"
               poster="poster.jpg"
               preload="{{ preview | cdn }}"
               crossorigin
        >
            <source src="{{ video | cdn }}" type="video/mp4">
        </video>
        <div class="subtitles"><div class="subtitles-inner"></div></div>
        <div class="thumbnail">
            <img class="thumbnail__image" />
            <div class="thumbnail__time"></div>
        </div>
        <div class="toolbar">
            <img class="toolbar__icon play__icon"
                 src="{{ '/assets/img/play_arrow-24px.svg' | cdn }}"
            >
            <div class="progress">
                <div class="progress__loaded"></div>
                <div class="progress__watched"></div>
                <div class="progress__cursor"></div>
            </div>
            <div class="toolbar__volume">
                <span class="toolbar__volume-text"></span>
                <div class="toolbar__volume-progress">
                    <div class="progress__active"></div>
                </div>
            </div>
            <img class="toolbar__icon icon__volume" src="{{ '/assets/img/volume_up-24px.svg' | cdn }}">
            <img class="toolbar__icon"
                 onClick="toggleFullScreen()"
                 src="{{ '/assets/img/open_in_full-24px.svg' | cdn }}"
            >
        </div>
    </div>
    <script src="{{ '/assets/js/libjass.js' | cdn }}"></script>
    <script>
        var subFontSize = parseInt(localStorage.subFontSize) || 25;
        document.getElementsByClassName('subtitles')[0].style.fontSize = subFontSize + 'px';
        document.getElementsByClassName('current-font-size')[0].innerText = subFontSize;

        var toggleFullScreen = function () {
            if (document.fullscreenElement) {
                document.exitFullscreen();
            } else {
                document.documentElement.requestFullscreen();
            }
        }

        const thumbnails = {{ screenshots | json_encode() | raw }};
        var hideThumbnailID;

        function hideOverlays() {
            const overlays = document.getElementsByClassName('overlay');

            for (let i = 0; i < overlays.length; i++) {
                overlays[i].classList.add('disabled');
            }
        }

        function showPlayButton() {
            document.getElementsByClassName('play')[0].classList.remove('disabled');
        }

        function togglePlay(e) {
            if(player.paused) player.play(); else player.pause();

            if(player.paused) {
                document.getElementsByClassName('play__icon')[0].src = '{{ '/assets/img/play_arrow-24px.svg' | cdn }}'
            } else
            {
                document.getElementsByClassName('play__icon')[0].src = '{{ '/assets/img/pause-24px.svg' | cdn }}'
            }
        }

        function toLeft( sec ) {
            if(player.currentTime - sec >= 0) {
                player.currentTime -= sec;
            } else
            {
                player.currentTime = 0;
            }
            setProgress()
        }

        function toRight( sec ) {
            if(player.currentTime + sec <= player.duration) {
                player.currentTime += sec;
            } else
            {
                player.currentTime = player.duration;
            }
            setProgress()
        }

        function hideThumbnail() {
            document.getElementsByClassName('thumbnail')[0].classList.remove('show');
        }

        function setThumbnail(x, currentTime, path) {
            const progress = document.getElementsByClassName('progress')[0],
                  top = progress.getBoundingClientRect().top - 200,
                  left = progress.getBoundingClientRect().left + x - 150;

            const thumbnail = document.getElementsByClassName('thumbnail')[0],
                  image = document.getElementsByClassName('thumbnail__image')[0],
                  time = document.getElementsByClassName('thumbnail__time')[0];

            if(hideThumbnailID) {
                clearTimeout(hideThumbnailID);
            }
            hideThumbnailID = setTimeout(hideThumbnail, 500);

            image.src = '{{ cdn_url }}' + path;
            thumbnail.classList.add('show');
            thumbnail.style.left = (left >= 0 ? left + 300 <= window.innerWidth ? left : window.innerWidth - 300 : 0) + 'px';
            thumbnail.style.top = top + 'px';

            const h = Math.floor(currentTime / 3600),
                  m = Math.floor((currentTime % 3600) / 60),
                  s = Math.floor((currentTime % 3600) % 60);

            time.textContent = (h > 0 ? h + ':' : '') + m + ':' + s;
        }

        function onProgressMouseMove(e) {
            const x = e.offsetX,
                  y = e.offsetY;

            const progress = document.getElementsByClassName('progress')[0],
                  size = progress.offsetWidth;

            const cursor =  document.getElementsByClassName('progress__cursor')[0];

            const duration = player.duration;

            const movedSeconds = x / (size / duration);

            for(let i in thumbnails) {
                if(thumbnails[i].start <= movedSeconds && thumbnails[i].end >= movedSeconds) {
                    setThumbnail(x, movedSeconds, thumbnails[i].path);
                    break;
                }
            }

            cursor.style.marginLeft = (x - 5) + 'px';
        }

        function onUpdateSeek(e) {
            const x = e.offsetX,
                y = e.offsetY;

            const progress = document.getElementsByClassName('progress')[0],
                size = progress.clientWidth;

            const duration = player.duration;

            player.currentTime = x / (size / duration);
            setProgress();
        }

        function setProgress() {
            const loaded = document.getElementsByClassName('progress__loaded')[0];
            const watched = document.getElementsByClassName('progress__watched')[0];

            const progress = document.getElementsByClassName('progress')[0],
                size = progress.clientWidth;

            loaded.style.width = size * (player.buffered.end(player.buffered.length - 1) / player.duration) + 'px';
            watched.style.width = size * (player.currentTime / player.duration) + 'px';
        }

        function onUpdateVolumeSeek(e) {
            const volume = document.getElementsByClassName('toolbar__volume-progress')[0],
                  active = document.getElementsByClassName('progress__active')[0],
                  player = document.getElementsByClassName('video-player')[0],
                  height = volume.clientHeight;

            player.volume = Math.abs(e.clientY - volume.getBoundingClientRect().top - height) / height;
        }

        function onVolumeChange() {
            const player = document.getElementsByClassName('video-player')[0],
                  volume = document.getElementsByClassName('toolbar__volume-progress')[0],
                  text = document.getElementsByClassName('toolbar__volume-text')[0],
                  active = document.getElementsByClassName('progress__active')[0],
                  icon = document.getElementsByClassName('icon__volume')[0];

            active.style.height = (volume.clientHeight * player.volume) + 'px';
            text.innerText = Math.round(player.volume * 100) + '%';

            if(player.volume > 0.5) {
                icon.src = "{{ '/assets/img/volume_up-24px.svg' | cdn }}"
            } else if(player.volume <= 0.5 && player.volume > 0 ) {
                icon.src = "{{'/assets/img/volume_down-24px.svg' | cdn }}"
            } else {
                icon.src = "{{ '/assets/img/volume_off-24px.svg' | cdn }}"
            }
        }

        const player = document.getElementsByClassName('video-player')[0];
        const container = document.getElementsByClassName('video-player__container')[0];
        const progress = document.getElementsByClassName('progress')[0];
        const volume = document.getElementsByClassName('toolbar__volume-progress')[0];
        const subsPlus = document.getElementsByClassName('subtitle-font-plus')[0];
        const subsMinus = document.getElementsByClassName('subtitle-font-munus')[0];
        let thumbnail = document.getElementsByClassName('thumbnail')[0];

        subsPlus.addEventListener('click', function() {
            const subs = document.getElementsByClassName('subtitles')[0];
            if(subFontSize <= 75) {
                subFontSize += 2;
                localStorage.subFontSize = subFontSize;
                subs.style.fontSize = subFontSize + 'px';
                document.getElementsByClassName('current-font-size')[0].innerText = subFontSize;
            }
        });
        subsMinus.addEventListener('click', function() {
            const subs = document.getElementsByClassName('subtitles')[0];

            if(subFontSize >= 15) {
                subFontSize -= 2;
                localStorage.subFontSize = subFontSize;
                subs.style.fontSize = subFontSize + 'px';
                document.getElementsByClassName('current-font-size')[0].innerText = subFontSize;
            }
        });

        volume.addEventListener('click', onUpdateVolumeSeek);
        progress.addEventListener('mousemove', onProgressMouseMove);
        thumbnail.addEventListener('mousemove', onProgressMouseMove);
        progress.addEventListener('click', onUpdateSeek);
        document.getElementsByClassName('play__icon')[0].addEventListener('click', togglePlay);

        player.addEventListener('play', hideOverlays);
        player.addEventListener('pause', showPlayButton);
        player.addEventListener('volumechange', onVolumeChange);
        player.addEventListener('loadeddata', function() {
            onVolumeChange();
        });

        container.addEventListener('click', function(e) {
            if(e === undefined || e.target.closest('.toolbar') === null) {
                togglePlay(e);
            }
        });
        document.addEventListener('keyup', function(e) {
            switch(e.code) {
                case 'Space': togglePlay(); break;
                case 'ArrowRight': toRight(10); break;
                case 'ArrowLeft': toLeft(10); break;
            }
        });

        {% if sub %}
        libjass.ASS.fromString(`{{ sub.data | replace({"\\": "\\\\"}) | raw }}`).then(ass => {
            new libjass.renderers.WebRenderer(
                ass,
                new libjass.renderers.VideoClock(player),
                document.getElementsByClassName('subtitles-inner')[0]
            );
        });
        {% endif %}

        setInterval(setProgress, 1000);
    </script>
{% endblock %}